body,
* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #57CC99;
}

h2, h3 {
    color: #4A7B9D;
}

h1 {
    text-align: center;
}

ul {
    display: block;
    list-style-type: none;
}

nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: .5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(4 1fr);
}

.hero {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.hero h2 {
    text-align: center;
    grid-column: 2/3;
    padding: 2rem;
}

.hero div {
    grid-column: 1/4;
}

