:root {
    --bord: 1px solid #7e7979;
}

* {
    padding: 0;
    margin: 0;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

table th, table td{
    padding: .6rem .5rem;
}

tbody tr:nth-child(2) {
    background-color: rgba(194, 190, 190, 0.411);
}

thead tr:nth-child(1) {
    background-color: #000;
    color: #fff;
}

thead tr th:nth-child(1) {
    background-color: #000;
}

thead tr:nth-child(2) {
    background-color: rgb(92, 91, 91);
    color: #fff;
}

tbody th, tbody td, thead th{
    border-bottom: var(--bord);
    border-right: var(--bord);
}

tbody th, thead tr:nth-child(1), thead tr:nth-child(2) th:nth-child(1) {
    border-left: var(--bord);
}

thead tr {
    border-top: var(--bord);
}