@media (min-width: 640px) {
    header {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        grid-column: 2/6;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    nav a {
        padding: 1rem;
    }

    main {
        display: grid;
    }

    main h2 {
        grid-column: 1 / -1;
    }

    main .res-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1rem;
    }

    #menuLink {
        display: none;
    }

}